body {
	background-image: url("../img/green.png");
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
	overflow: visible;
}
.title {
	font-family: 'Alegreya Sans', sans-serif;
	background-color: red;
}

.howToPLay {
	text-decoration: underline;
	font-family: 'Oswald', sans-serif;
	color: black;
}

 #you {
 	margin-top: 15px;
 }

#drawCard {
	position: relative;
	float: left;
}

#card {
	text-align: center;
	width: 300px;
	margin: 0px auto;
}

#card {
    position: relative;
}

.player, 
.dealer {
	font-family: 'Kadwa', serif;
}

#card #type {
    position: absolute;
    top: 0px;
    right: 0px;
}

#center {
	text-align: center;
	margin: 0px auto;
}


#opponentcard {

	text-align: center;
	width: 300px;
	margin: 0px auto;
}

#opponentcard {
    position: relative;
}

#opponentcard #opponenttype {
    position: absolute;
    top: 0px;
    right: 0px;
}

#loseOrwin {
	text-align: center;
	font-family: 'Kadwa', serif;
}

#center{
	display: inline-block;
}
