@media (max-width: 768px){
	#image,
	#dealerImage,
	.playerWar,
	.dealerWar,
	#playerWarCard,
	#dealerWarCard {
		height: 75px;
		width: 75px;
	}
	.playerWar,
	.dealerWar,
	#playerWarCard,
	#dealerWarCard{
		display: none;
	}
}